@use "../abstracts" as *;
@use "../components";
@use "../pages";

.Layout {
  background-color: transparent;
  overscroll-behavior: contain;
  // position: relative;
  overflow: hidden auto;
  width: 100%;
  @include components.navbar();
  @include components.Footer();

  .pages {
    @include pages.homePage();
  }
}
