@use "../abstracts" as *;
@use "../components";
@use "../pages";

.Layout {
  background-color: transparent;
  overscroll-behavior: contain;
  // position: relative;
  overflow: hidden auto;
  height: 100vh;
  width: 100vw;
  @include components.navbar();
  @include components.BottomNav();

}