@use "../abstracts" as *;
@use "./button";
@mixin Footer() {
  footer {
    width: 100%;
    background-color: clr(db, 1);
    padding: 0 10px;
    .top {
      border: 1px solid red;
      display: flex;

      .side2 {
        border: 1px solid yellow;
        width: 100%;
        max-width: 1300px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        .nav {
          max-width: 400px;
          min-width: 200px;
          flex-shrink: 0;

          h1 {
            color: clr(light, 3);
          }
          ul {
            list-style-type: none;
            padding: 0;
            li {
              margin-bottom: 8px;
              color: clr(light, 2);
            }
          }
        }
      }
    }
    .bottom {
      width: 100%;
      margin: auto;
      background-color: transparent;
      display: flex;
      max-width: 1600px;
      justify-content: space-between;
      flex-wrap: wrap;
      .socials {
        display: flex;
        color: clr(light, 3);
        font-size: 2rem;
        column-gap: 0.8rem;
        align-items: center;
        .icon {
          transition: 0.2s all ease;
          cursor: pointer;
          &:hover {
            color: clr(light, 2);
          }
        }
      }
      .misc {
        max-width: 600px;
        display: flex;
        column-gap: 0.3rem;
        color: clr(light, 1);
        align-items: center;
        .Dot {
          background-color: clr(light, 1);
        }

        @media screen and (max-width: 500px) {
          width: 100%;
          flex-shrink: 0;
          font-size: 0.9rem;
          margin-top: 6px;
        }
      }
    }
  }
}
