*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: hsla(0deg, 0%, 100%, 0.6);
  margin: 0;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
}

.clr-db-1 {
  color: hsl(227deg, 51%, 22%);
}

.bg-db-1 {
  background-color: hsl(227deg, 51%, 22%);
}

.clr-db-2 {
  color: hsl(227deg, 36%, 29%);
}

.bg-db-2 {
  background-color: hsl(227deg, 36%, 29%);
}

.clr-db-3 {
  color: hsl(228deg, 25%, 35%);
}

.bg-db-3 {
  background-color: hsl(228deg, 25%, 35%);
}

.clr-db-4 {
  color: hsla(227deg, 51%, 22%, 0.6);
}

.bg-db-4 {
  background-color: hsla(227deg, 51%, 22%, 0.6);
}

.clr-db-4a {
  color: hsla(227deg, 52%, 22%, 0.35);
}

.bg-db-4a {
  background-color: hsla(227deg, 52%, 22%, 0.35);
}

.clr-light-3 {
  color: hsl(0deg, 0%, 100%);
}

.bg-light-3 {
  background-color: hsl(0deg, 0%, 100%);
}

.clr-light-2 {
  color: hsla(0deg, 0%, 100%, 0.8);
}

.bg-light-2 {
  background-color: hsla(0deg, 0%, 100%, 0.8);
}

.clr-light-1 {
  color: hsla(0deg, 0%, 100%, 0.6);
}

.bg-light-1 {
  background-color: hsla(0deg, 0%, 100%, 0.6);
}

.clr-dark-1 {
  color: #000;
}

.bg-dark-1 {
  background-color: #000;
}

.clr-accent-1 {
  color: hsl(165deg, 94%, 45%);
}

.bg-accent-1 {
  background-color: hsl(165deg, 94%, 45%);
}

.clr-accent-2 {
  color: hsl(265deg, 98%, 79%);
}

.bg-accent-2 {
  background-color: hsl(265deg, 98%, 79%);
}

.clr-accent-3 {
  color: hsl(210deg, 100%, 73%);
}

.bg-accent-3 {
  background-color: hsl(210deg, 100%, 73%);
}

.fs-900 {
  font-size: 5rem;
}

.fs-800 {
  font-size: 3.75rem;
}

.fs-600 {
  font-size: 1.6875rem;
}

.fs-500 {
  font-size: 1.3125rem;
}

.fs-400 {
  font-size: 1.125rem;
}

.fs-300 {
  font-size: 1rem;
}

.section {
  padding-block: 7rem;
}

.hero {
  padding-block: 20rem;
}

.mx-auto {
  margin-inline: auto;
}

.margin-2 {
  margin: 0.125rem;
}
.margin-block-start-2 {
  margin-block-start: 0.125rem;
}
.margin-block-end-2 {
  margin-block-end: 0.125rem;
}
.margin-block-2 {
  margin-block: 0.125rem;
}
.margin-inline-start-2 {
  margin-inline-start: 0.125rem;
}
.margin-inline-end-2 {
  margin-inline-end: 0.125rem;
}
.margin-inline-2 {
  margin-inline: 0.125rem;
}

.padding-2 {
  padding: 0.125rem;
}
.padding-block-start-2 {
  padding-block-start: 0.125rem;
}
.padding-block-end-2 {
  padding-block-end: 0.125rem;
}
.padding-block-2 {
  padding-block: 0.125rem;
}
.padding-inline-start-2 {
  padding-inline-start: 0.125rem;
}
.padding-inline-end-2 {
  padding-inline-end: 0.125rem;
}
.padding-inline-2 {
  padding-inline: 0.125rem;
}

.margin-4 {
  margin: 0.25rem;
}
.margin-block-start-4 {
  margin-block-start: 0.25rem;
}
.margin-block-end-4 {
  margin-block-end: 0.25rem;
}
.margin-block-4 {
  margin-block: 0.25rem;
}
.margin-inline-start-4 {
  margin-inline-start: 0.25rem;
}
.margin-inline-end-4 {
  margin-inline-end: 0.25rem;
}
.margin-inline-4 {
  margin-inline: 0.25rem;
}

.padding-4 {
  padding: 0.25rem;
}
.padding-block-start-4 {
  padding-block-start: 0.25rem;
}
.padding-block-end-4 {
  padding-block-end: 0.25rem;
}
.padding-block-4 {
  padding-block: 0.25rem;
}
.padding-inline-start-4 {
  padding-inline-start: 0.25rem;
}
.padding-inline-end-4 {
  padding-inline-end: 0.25rem;
}
.padding-inline-4 {
  padding-inline: 0.25rem;
}

.margin-8 {
  margin: 0.5rem;
}
.margin-block-start-8 {
  margin-block-start: 0.5rem;
}
.margin-block-end-8 {
  margin-block-end: 0.5rem;
}
.margin-block-8 {
  margin-block: 0.5rem;
}
.margin-inline-start-8 {
  margin-inline-start: 0.5rem;
}
.margin-inline-end-8 {
  margin-inline-end: 0.5rem;
}
.margin-inline-8 {
  margin-inline: 0.5rem;
}

.padding-8 {
  padding: 0.5rem;
}
.padding-block-start-8 {
  padding-block-start: 0.5rem;
}
.padding-block-end-8 {
  padding-block-end: 0.5rem;
}
.padding-block-8 {
  padding-block: 0.5rem;
}
.padding-inline-start-8 {
  padding-inline-start: 0.5rem;
}
.padding-inline-end-8 {
  padding-inline-end: 0.5rem;
}
.padding-inline-8 {
  padding-inline: 0.5rem;
}

.margin-12 {
  margin: 0.75rem;
}
.margin-block-start-12 {
  margin-block-start: 0.75rem;
}
.margin-block-end-12 {
  margin-block-end: 0.75rem;
}
.margin-block-12 {
  margin-block: 0.75rem;
}
.margin-inline-start-12 {
  margin-inline-start: 0.75rem;
}
.margin-inline-end-12 {
  margin-inline-end: 0.75rem;
}
.margin-inline-12 {
  margin-inline: 0.75rem;
}

.padding-12 {
  padding: 0.75rem;
}
.padding-block-start-12 {
  padding-block-start: 0.75rem;
}
.padding-block-end-12 {
  padding-block-end: 0.75rem;
}
.padding-block-12 {
  padding-block: 0.75rem;
}
.padding-inline-start-12 {
  padding-inline-start: 0.75rem;
}
.padding-inline-end-12 {
  padding-inline-end: 0.75rem;
}
.padding-inline-12 {
  padding-inline: 0.75rem;
}

.margin-16 {
  margin: 1rem;
}
.margin-block-start-16 {
  margin-block-start: 1rem;
}
.margin-block-end-16 {
  margin-block-end: 1rem;
}
.margin-block-16 {
  margin-block: 1rem;
}
.margin-inline-start-16 {
  margin-inline-start: 1rem;
}
.margin-inline-end-16 {
  margin-inline-end: 1rem;
}
.margin-inline-16 {
  margin-inline: 1rem;
}

.padding-16 {
  padding: 1rem;
}
.padding-block-start-16 {
  padding-block-start: 1rem;
}
.padding-block-end-16 {
  padding-block-end: 1rem;
}
.padding-block-16 {
  padding-block: 1rem;
}
.padding-inline-start-16 {
  padding-inline-start: 1rem;
}
.padding-inline-end-16 {
  padding-inline-end: 1rem;
}
.padding-inline-16 {
  padding-inline: 1rem;
}

.margin-20 {
  margin: 1.25rem;
}
.margin-block-start-20 {
  margin-block-start: 1.25rem;
}
.margin-block-end-20 {
  margin-block-end: 1.25rem;
}
.margin-block-20 {
  margin-block: 1.25rem;
}
.margin-inline-start-20 {
  margin-inline-start: 1.25rem;
}
.margin-inline-end-20 {
  margin-inline-end: 1.25rem;
}
.margin-inline-20 {
  margin-inline: 1.25rem;
}

.padding-20 {
  padding: 1.25rem;
}
.padding-block-start-20 {
  padding-block-start: 1.25rem;
}
.padding-block-end-20 {
  padding-block-end: 1.25rem;
}
.padding-block-20 {
  padding-block: 1.25rem;
}
.padding-inline-start-20 {
  padding-inline-start: 1.25rem;
}
.padding-inline-end-20 {
  padding-inline-end: 1.25rem;
}
.padding-inline-20 {
  padding-inline: 1.25rem;
}

.margin-24 {
  margin: 1.5rem;
}
.margin-block-start-24 {
  margin-block-start: 1.5rem;
}
.margin-block-end-24 {
  margin-block-end: 1.5rem;
}
.margin-block-24 {
  margin-block: 1.5rem;
}
.margin-inline-start-24 {
  margin-inline-start: 1.5rem;
}
.margin-inline-end-24 {
  margin-inline-end: 1.5rem;
}
.margin-inline-24 {
  margin-inline: 1.5rem;
}

.padding-24 {
  padding: 1.5rem;
}
.padding-block-start-24 {
  padding-block-start: 1.5rem;
}
.padding-block-end-24 {
  padding-block-end: 1.5rem;
}
.padding-block-24 {
  padding-block: 1.5rem;
}
.padding-inline-start-24 {
  padding-inline-start: 1.5rem;
}
.padding-inline-end-24 {
  padding-inline-end: 1.5rem;
}
.padding-inline-24 {
  padding-inline: 1.5rem;
}

.margin-32 {
  margin: 2rem;
}
.margin-block-start-32 {
  margin-block-start: 2rem;
}
.margin-block-end-32 {
  margin-block-end: 2rem;
}
.margin-block-32 {
  margin-block: 2rem;
}
.margin-inline-start-32 {
  margin-inline-start: 2rem;
}
.margin-inline-end-32 {
  margin-inline-end: 2rem;
}
.margin-inline-32 {
  margin-inline: 2rem;
}

.padding-32 {
  padding: 2rem;
}
.padding-block-start-32 {
  padding-block-start: 2rem;
}
.padding-block-end-32 {
  padding-block-end: 2rem;
}
.padding-block-32 {
  padding-block: 2rem;
}
.padding-inline-start-32 {
  padding-inline-start: 2rem;
}
.padding-inline-end-32 {
  padding-inline-end: 2rem;
}
.padding-inline-32 {
  padding-inline: 2rem;
}

.margin-36 {
  margin: 2.25rem;
}
.margin-block-start-36 {
  margin-block-start: 2.25rem;
}
.margin-block-end-36 {
  margin-block-end: 2.25rem;
}
.margin-block-36 {
  margin-block: 2.25rem;
}
.margin-inline-start-36 {
  margin-inline-start: 2.25rem;
}
.margin-inline-end-36 {
  margin-inline-end: 2.25rem;
}
.margin-inline-36 {
  margin-inline: 2.25rem;
}

.padding-36 {
  padding: 2.25rem;
}
.padding-block-start-36 {
  padding-block-start: 2.25rem;
}
.padding-block-end-36 {
  padding-block-end: 2.25rem;
}
.padding-block-36 {
  padding-block: 2.25rem;
}
.padding-inline-start-36 {
  padding-inline-start: 2.25rem;
}
.padding-inline-end-36 {
  padding-inline-end: 2.25rem;
}
.padding-inline-36 {
  padding-inline: 2.25rem;
}

.container {
  --padding: 1rem * 2;
  --max-width: 77.75rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type=wide] {
  --max-width: 100rem;
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.box-shadow-1 {
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.25);
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.ff-base {
  font-family: "Lato", sans-serif;
}

.ff-accent {
  font-family: "Abril Fatface", serif;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-gap, 1rem);
}

.rounded-sm {
  border-radius: 5px;
}

.rounded-md {
  border-radius: 8px;
}

.rounded-l {
  border-radius: 10px;
}

.rounded-xl {
  border-radius: 15px;
}

.rounded-xx {
  border-radius: 50%;
}

.Dot {
  width: 3px;
  height: 3px;
  background-color: unset;
  color: unset;
  border-radius: 50%;
}

.Layout {
  background-color: transparent;
  overscroll-behavior: contain;
  overflow: hidden auto;
  width: 100%;
}
.Layout nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: hsl(227deg, 51%, 22%);
}
.Layout nav .navbar {
  max-width: 1500px;
  margin: auto;
  width: 100%;
  height: auto;
  min-height: 4.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Layout nav .navbar ul {
  list-style-type: none;
  display: flex;
  column-gap: 1.6rem;
}
.Layout nav .navbar ul li {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(227deg, 51%, 22%);
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.Layout nav .navbar ul li a {
  color: inherit;
  text-decoration: none;
}
.Layout nav .navbar ul li .line {
  position: absolute;
  width: 0%;
  bottom: -5px;
  left: 0;
  height: 1.5px;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.Layout nav .navbar ul li .lineActive {
  width: 100%;
  background-color: hsl(227deg, 36%, 29%);
}
.Layout nav .navbar ul li:hover .line {
  width: 100%;
  background-color: hsla(227deg, 51%, 22%, 0.6);
}
.Layout nav .navbar .cta {
  flex-shrink: 0;
}
.Layout nav .navbar .cta .signUp {
  appearance: button;
  background-image: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 9px 30px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: 0.3s all ease;
  border: 1px solid hsl(227deg, 51%, 22%);
  background-color: hsl(227deg, 51%, 22%);
  color: #fff;
}
.Layout nav .navbar .cta .signUp:hover, .Layout nav .navbar .cta .signUp:focus {
  text-decoration: none;
}
.Layout nav .navbar .cta .signUp:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}
.Layout nav .navbar .cta .signUp:not([disabled]):active {
  transform: translate(-2px, 2px);
}
@media (min-width: 750px) {
  .Layout nav .navbar .cta .signUp {
    margin-left: 0.9rem;
    padding: 10px 40px;
  }
}
.Layout nav .navbar .cta .signUp-1 {
  box-shadow: hsl(0deg, 0%, 100%) -4.5px 4.5px 0 0, hsl(227deg, 51%, 22%) -4.5px 4.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-1:hover {
  text-decoration: none;
  box-shadow: hsl(0deg, 0%, 100%) -2.5px 2.5px 0 0, hsl(227deg, 51%, 22%) -2.5px 2.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-1:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
.Layout nav .navbar .cta .signUp-1:not([disabled]):active {
  box-shadow: hsl(0deg, 0%, 100%) 0px 0px 0 0, hsl(227deg, 51%, 22%) 0px 0px 0 1px;
}
.Layout nav .navbar .cta .signUp-2 {
  box-shadow: hsl(165deg, 94%, 45%) -4.5px 4.5px 0 0, hsl(227deg, 51%, 22%) -4.5px 4.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-2:hover {
  text-decoration: none;
  box-shadow: hsl(165deg, 94%, 45%) -2.5px 2.5px 0 0, hsl(227deg, 51%, 22%) -2.5px 2.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-2:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
.Layout nav .navbar .cta .signUp-2:not([disabled]):active {
  box-shadow: hsl(165deg, 94%, 45%) 0px 0px 0 0, hsl(227deg, 51%, 22%) 0px 0px 0 1px;
}
.Layout nav .navbar .cta .signUp-3 {
  box-shadow: hsl(265deg, 98%, 79%) -4.5px 4.5px 0 0, hsl(227deg, 51%, 22%) -4.5px 4.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-3:hover {
  text-decoration: none;
  box-shadow: hsl(265deg, 98%, 79%) -2.5px 2.5px 0 0, hsl(227deg, 51%, 22%) -2.5px 2.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-3:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
.Layout nav .navbar .cta .signUp-3:not([disabled]):active {
  box-shadow: hsl(265deg, 98%, 79%) 0px 0px 0 0, hsl(227deg, 51%, 22%) 0px 0px 0 1px;
}
.Layout nav .navbar .cta .signUp-4 {
  box-shadow: hsl(210deg, 100%, 73%) -4.5px 4.5px 0 0, hsl(227deg, 51%, 22%) -4.5px 4.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-4:hover {
  text-decoration: none;
  box-shadow: hsl(210deg, 100%, 73%) -2.5px 2.5px 0 0, hsl(227deg, 51%, 22%) -2.5px 2.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-4:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
.Layout nav .navbar .cta .signUp-4:not([disabled]):active {
  box-shadow: hsl(210deg, 100%, 73%) 0px 0px 0 0, hsl(227deg, 51%, 22%) 0px 0px 0 1px;
}
.Layout nav .navbar .cta .login {
  background-color: transparent;
  color: hsl(227deg, 51%, 22%);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s all ease;
}
.Layout footer {
  width: 100%;
  background-color: hsl(227deg, 51%, 22%);
  padding: 0 10px;
}
.Layout footer .top {
  border: 1px solid red;
  display: flex;
}
.Layout footer .top .side2 {
  border: 1px solid yellow;
  width: 100%;
  max-width: 1300px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}
.Layout footer .top .side2 .nav {
  max-width: 400px;
  min-width: 200px;
  flex-shrink: 0;
}
.Layout footer .top .side2 .nav h1 {
  color: hsl(0deg, 0%, 100%);
}
.Layout footer .top .side2 .nav ul {
  list-style-type: none;
  padding: 0;
}
.Layout footer .top .side2 .nav ul li {
  margin-bottom: 8px;
  color: hsla(0deg, 0%, 100%, 0.8);
}
.Layout footer .bottom {
  width: 100%;
  margin: auto;
  background-color: transparent;
  display: flex;
  max-width: 1600px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Layout footer .bottom .socials {
  display: flex;
  color: hsl(0deg, 0%, 100%);
  font-size: 2rem;
  column-gap: 0.8rem;
  align-items: center;
}
.Layout footer .bottom .socials .icon {
  transition: 0.2s all ease;
  cursor: pointer;
}
.Layout footer .bottom .socials .icon:hover {
  color: hsla(0deg, 0%, 100%, 0.8);
}
.Layout footer .bottom .misc {
  max-width: 600px;
  display: flex;
  column-gap: 0.3rem;
  color: hsla(0deg, 0%, 100%, 0.6);
  align-items: center;
}
.Layout footer .bottom .misc .Dot {
  background-color: hsla(0deg, 0%, 100%, 0.6);
}
@media screen and (max-width: 500px) {
  .Layout footer .bottom .misc {
    width: 100%;
    flex-shrink: 0;
    font-size: 0.9rem;
    margin-top: 6px;
  }
}
.Layout .pages .homePage header {
  width: 100%;
  height: 50rem;
  max-height: 80vh;
  background-color: hsl(165deg, 94%, 45%);
}
.Layout .pages .homePage header .header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  margin: auto;
  justify-content: space-around;
  max-width: 1600px;
}
.Layout .pages .homePage header .header .headerImage {
  height: 90%;
  width: auto;
  flex-shrink: 0;
}
.Layout .pages .homePage header .header .info {
  margin-top: 2rem;
  margin-left: 1rem;
  color: hsl(227deg, 51%, 22%);
  max-width: 800px;
}
.Layout .pages .homePage header .header .info .tagline {
  font-size: clamp(2.3rem, 1.6471rem + 3.4824vw, 6rem);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.Layout .pages .homePage header .header .info .subTagline {
  margin-top: 0.5rem;
  font-size: clamp(1.1rem, 1.0143rem + 0.4571vw, 1.5rem);
  line-height: 1.9rem;
  letter-spacing: 1px;
  word-wrap: break-word;
  max-width: 800px;
}
.Layout .pages .homePage header .header .info .subTagline span {
  font-size: 1.3rem;
  font-weight: 100;
}
.Layout .pages .homePage header .header .info .form {
  width: 100%;
  height: 3.4rem;
  max-width: 600px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid hsl(227deg, 51%, 22%);
  padding: 0.25em 0.5em;
  box-shadow: hsl(227deg, 51%, 22%) 3px 4px 0px 0px, hsl(227deg, 51%, 22%) 2px 2px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
}
@media (min-width: 768px) {
  .Layout .pages .homePage header .header .info .form {
    padding: 0.25em 0.75em;
  }
}
.Layout .pages .homePage header .header .info .form .input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: hsl(227deg, 36%, 29%);
  font-size: 1.2rem;
}
.Layout .pages .homePage header .header .info .form .input::placeholder {
  color: hsla(227deg, 52%, 22%, 0.35);
}
.Layout .pages .homePage header .header .info .form button {
  margin-left: 10px;
  flex-shrink: 0;
  background-color: hsl(227deg, 51%, 22%);
  color: hsl(0deg, 0%, 100%);
  border-radius: 4.5px;
  border: none;
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  padding: 0 10px;
  column-gap: 10px;
}
.Layout .pages .homePage header .header .info .bottom {
  margin-top: 1rem;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
.Layout .pages .homePage header .header .info .bottom .bInfo {
  display: flex;
  column-gap: 5px;
}
@media screen and (max-width: 1500px) {
  .Layout .pages .homePage header .header {
    padding: 2rem 1rem 0 1rem;
  }
}