*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
  overflow: auto;
}

body {
  background-color: hsla(0, 0%, 100%, 0.6);
  margin: 0;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
}

.clr-db-1 {
  color: hsl(227, 51%, 22%);
}

.bg-db-1 {
  background-color: hsl(227, 51%, 22%);
}

.clr-db-2 {
  color: hsl(227, 36%, 29%);
}

.bg-db-2 {
  background-color: hsl(227, 36%, 29%);
}

.clr-db-3 {
  color: hsl(228, 25%, 35%);
}

.bg-db-3 {
  background-color: hsl(228, 25%, 35%);
}

.clr-db-4 {
  color: hsla(227, 51%, 22%, 0.6);
}

.bg-db-4 {
  background-color: hsla(227, 51%, 22%, 0.6);
}

.clr-db-4a {
  color: hsla(227, 52%, 22%, 0.35);
}

.bg-db-4a {
  background-color: hsla(227, 52%, 22%, 0.35);
}

.clr-light-3 {
  color: hsl(0, 0%, 100%);
}

.bg-light-3 {
  background-color: hsl(0, 0%, 100%);
}

.clr-light-2 {
  color: hsla(0, 0%, 100%, 0.8);
}

.bg-light-2 {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.clr-light-1 {
  color: hsla(0, 0%, 100%, 0.6);
}

.bg-light-1 {
  background-color: hsla(0, 0%, 100%, 0.6);
}

.clr-dark-1 {
  color: #000;
}

.bg-dark-1 {
  background-color: #000;
}

.clr-accent-1 {
  color: hsl(165, 94%, 45%);
}

.bg-accent-1 {
  background-color: hsl(165, 94%, 45%);
}

.clr-accent-2 {
  color: hsl(265, 98%, 79%);
}

.bg-accent-2 {
  background-color: hsl(265, 98%, 79%);
}

.clr-accent-3 {
  color: hsl(210, 100%, 73%);
}

.bg-accent-3 {
  background-color: hsl(210, 100%, 73%);
}

.fs-900 {
  font-size: 5rem;
}

.fs-800 {
  font-size: 3.75rem;
}

.fs-600 {
  font-size: 1.6875rem;
}

.fs-500 {
  font-size: 1.3125rem;
}

.fs-400 {
  font-size: 1.125rem;
}

.fs-300 {
  font-size: 1rem;
}

.section {
  padding-block: 7rem;
}

.hero {
  padding-block: 20rem;
}

.mx-auto {
  margin-inline: auto;
}

.margin-2 {
  margin: 0.125rem;
}
.margin-block-start-2 {
  margin-block-start: 0.125rem;
}
.margin-block-end-2 {
  margin-block-end: 0.125rem;
}
.margin-block-2 {
  margin-block: 0.125rem;
}
.margin-inline-start-2 {
  margin-inline-start: 0.125rem;
}
.margin-inline-end-2 {
  margin-inline-end: 0.125rem;
}
.margin-inline-2 {
  margin-inline: 0.125rem;
}

.padding-2 {
  padding: 0.125rem;
}
.padding-block-start-2 {
  padding-block-start: 0.125rem;
}
.padding-block-end-2 {
  padding-block-end: 0.125rem;
}
.padding-block-2 {
  padding-block: 0.125rem;
}
.padding-inline-start-2 {
  padding-inline-start: 0.125rem;
}
.padding-inline-end-2 {
  padding-inline-end: 0.125rem;
}
.padding-inline-2 {
  padding-inline: 0.125rem;
}

.margin-4 {
  margin: 0.25rem;
}
.margin-block-start-4 {
  margin-block-start: 0.25rem;
}
.margin-block-end-4 {
  margin-block-end: 0.25rem;
}
.margin-block-4 {
  margin-block: 0.25rem;
}
.margin-inline-start-4 {
  margin-inline-start: 0.25rem;
}
.margin-inline-end-4 {
  margin-inline-end: 0.25rem;
}
.margin-inline-4 {
  margin-inline: 0.25rem;
}

.padding-4 {
  padding: 0.25rem;
}
.padding-block-start-4 {
  padding-block-start: 0.25rem;
}
.padding-block-end-4 {
  padding-block-end: 0.25rem;
}
.padding-block-4 {
  padding-block: 0.25rem;
}
.padding-inline-start-4 {
  padding-inline-start: 0.25rem;
}
.padding-inline-end-4 {
  padding-inline-end: 0.25rem;
}
.padding-inline-4 {
  padding-inline: 0.25rem;
}

.margin-8 {
  margin: 0.5rem;
}
.margin-block-start-8 {
  margin-block-start: 0.5rem;
}
.margin-block-end-8 {
  margin-block-end: 0.5rem;
}
.margin-block-8 {
  margin-block: 0.5rem;
}
.margin-inline-start-8 {
  margin-inline-start: 0.5rem;
}
.margin-inline-end-8 {
  margin-inline-end: 0.5rem;
}
.margin-inline-8 {
  margin-inline: 0.5rem;
}

.padding-8 {
  padding: 0.5rem;
}
.padding-block-start-8 {
  padding-block-start: 0.5rem;
}
.padding-block-end-8 {
  padding-block-end: 0.5rem;
}
.padding-block-8 {
  padding-block: 0.5rem;
}
.padding-inline-start-8 {
  padding-inline-start: 0.5rem;
}
.padding-inline-end-8 {
  padding-inline-end: 0.5rem;
}
.padding-inline-8 {
  padding-inline: 0.5rem;
}

.margin-12 {
  margin: 0.75rem;
}
.margin-block-start-12 {
  margin-block-start: 0.75rem;
}
.margin-block-end-12 {
  margin-block-end: 0.75rem;
}
.margin-block-12 {
  margin-block: 0.75rem;
}
.margin-inline-start-12 {
  margin-inline-start: 0.75rem;
}
.margin-inline-end-12 {
  margin-inline-end: 0.75rem;
}
.margin-inline-12 {
  margin-inline: 0.75rem;
}

.padding-12 {
  padding: 0.75rem;
}
.padding-block-start-12 {
  padding-block-start: 0.75rem;
}
.padding-block-end-12 {
  padding-block-end: 0.75rem;
}
.padding-block-12 {
  padding-block: 0.75rem;
}
.padding-inline-start-12 {
  padding-inline-start: 0.75rem;
}
.padding-inline-end-12 {
  padding-inline-end: 0.75rem;
}
.padding-inline-12 {
  padding-inline: 0.75rem;
}

.margin-16 {
  margin: 1rem;
}
.margin-block-start-16 {
  margin-block-start: 1rem;
}
.margin-block-end-16 {
  margin-block-end: 1rem;
}
.margin-block-16 {
  margin-block: 1rem;
}
.margin-inline-start-16 {
  margin-inline-start: 1rem;
}
.margin-inline-end-16 {
  margin-inline-end: 1rem;
}
.margin-inline-16 {
  margin-inline: 1rem;
}

.padding-16 {
  padding: 1rem;
}
.padding-block-start-16 {
  padding-block-start: 1rem;
}
.padding-block-end-16 {
  padding-block-end: 1rem;
}
.padding-block-16 {
  padding-block: 1rem;
}
.padding-inline-start-16 {
  padding-inline-start: 1rem;
}
.padding-inline-end-16 {
  padding-inline-end: 1rem;
}
.padding-inline-16 {
  padding-inline: 1rem;
}

.margin-20 {
  margin: 1.25rem;
}
.margin-block-start-20 {
  margin-block-start: 1.25rem;
}
.margin-block-end-20 {
  margin-block-end: 1.25rem;
}
.margin-block-20 {
  margin-block: 1.25rem;
}
.margin-inline-start-20 {
  margin-inline-start: 1.25rem;
}
.margin-inline-end-20 {
  margin-inline-end: 1.25rem;
}
.margin-inline-20 {
  margin-inline: 1.25rem;
}

.padding-20 {
  padding: 1.25rem;
}
.padding-block-start-20 {
  padding-block-start: 1.25rem;
}
.padding-block-end-20 {
  padding-block-end: 1.25rem;
}
.padding-block-20 {
  padding-block: 1.25rem;
}
.padding-inline-start-20 {
  padding-inline-start: 1.25rem;
}
.padding-inline-end-20 {
  padding-inline-end: 1.25rem;
}
.padding-inline-20 {
  padding-inline: 1.25rem;
}

.margin-24 {
  margin: 1.5rem;
}
.margin-block-start-24 {
  margin-block-start: 1.5rem;
}
.margin-block-end-24 {
  margin-block-end: 1.5rem;
}
.margin-block-24 {
  margin-block: 1.5rem;
}
.margin-inline-start-24 {
  margin-inline-start: 1.5rem;
}
.margin-inline-end-24 {
  margin-inline-end: 1.5rem;
}
.margin-inline-24 {
  margin-inline: 1.5rem;
}

.padding-24 {
  padding: 1.5rem;
}
.padding-block-start-24 {
  padding-block-start: 1.5rem;
}
.padding-block-end-24 {
  padding-block-end: 1.5rem;
}
.padding-block-24 {
  padding-block: 1.5rem;
}
.padding-inline-start-24 {
  padding-inline-start: 1.5rem;
}
.padding-inline-end-24 {
  padding-inline-end: 1.5rem;
}
.padding-inline-24 {
  padding-inline: 1.5rem;
}

.margin-32 {
  margin: 2rem;
}
.margin-block-start-32 {
  margin-block-start: 2rem;
}
.margin-block-end-32 {
  margin-block-end: 2rem;
}
.margin-block-32 {
  margin-block: 2rem;
}
.margin-inline-start-32 {
  margin-inline-start: 2rem;
}
.margin-inline-end-32 {
  margin-inline-end: 2rem;
}
.margin-inline-32 {
  margin-inline: 2rem;
}

.padding-32 {
  padding: 2rem;
}
.padding-block-start-32 {
  padding-block-start: 2rem;
}
.padding-block-end-32 {
  padding-block-end: 2rem;
}
.padding-block-32 {
  padding-block: 2rem;
}
.padding-inline-start-32 {
  padding-inline-start: 2rem;
}
.padding-inline-end-32 {
  padding-inline-end: 2rem;
}
.padding-inline-32 {
  padding-inline: 2rem;
}

.margin-36 {
  margin: 2.25rem;
}
.margin-block-start-36 {
  margin-block-start: 2.25rem;
}
.margin-block-end-36 {
  margin-block-end: 2.25rem;
}
.margin-block-36 {
  margin-block: 2.25rem;
}
.margin-inline-start-36 {
  margin-inline-start: 2.25rem;
}
.margin-inline-end-36 {
  margin-inline-end: 2.25rem;
}
.margin-inline-36 {
  margin-inline: 2.25rem;
}

.padding-36 {
  padding: 2.25rem;
}
.padding-block-start-36 {
  padding-block-start: 2.25rem;
}
.padding-block-end-36 {
  padding-block-end: 2.25rem;
}
.padding-block-36 {
  padding-block: 2.25rem;
}
.padding-inline-start-36 {
  padding-inline-start: 2.25rem;
}
.padding-inline-end-36 {
  padding-inline-end: 2.25rem;
}
.padding-inline-36 {
  padding-inline: 2.25rem;
}

.container {
  --padding: 1rem * 2;
  --max-width: 77.75rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.container[data-type=wide] {
  --max-width: 100rem;
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.box-shadow-1 {
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.25);
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.ff-base {
  font-family: "Lato", sans-serif;
}

.ff-accent {
  font-family: "Abril Fatface", serif;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-gap, 1rem);
}

.rounded-sm {
  border-radius: 5px;
}

.rounded-md {
  border-radius: 8px;
}

.rounded-l {
  border-radius: 10px;
}

.rounded-xl {
  border-radius: 15px;
}

.rounded-xx {
  border-radius: 50%;
}

.Dot {
  width: 3px;
  height: 3px;
  background-color: unset;
  color: unset;
  border-radius: 50%;
}

.Layout {
  background-color: transparent;
  overscroll-behavior: contain;
  overflow: hidden auto;
  width: 100%;
}
.Layout nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 4%;
}
.Layout nav .navbar {
  max-width: 1500px;
  margin: auto;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: inherit;
}
.Layout nav .navbar .cta {
  display: none;
  visibility: hidden;
  flex-shrink: 0;
}
.Layout nav .navbar .cta .signUp {
  appearance: button;
  background-image: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 9px 30px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: 0.3s all ease;
  border: 1px solid hsl(227, 51%, 22%);
  background-color: hsl(227, 51%, 22%);
  color: #fff;
}
.Layout nav .navbar .cta .signUp:hover, .Layout nav .navbar .cta .signUp:focus {
  text-decoration: none;
}
.Layout nav .navbar .cta .signUp:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}
.Layout nav .navbar .cta .signUp:not([disabled]):active {
  transform: translate(-2px, 2px);
}
@media (min-width: 750px) {
  .Layout nav .navbar .cta .signUp {
    margin-left: 0.9rem;
    padding: 10px 40px;
  }
}
.Layout nav .navbar .cta .signUp-1 {
  box-shadow: hsl(0, 0%, 100%) -4.5px 4.5px 0 0, hsl(227, 51%, 22%) -4.5px 4.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-1:hover {
  text-decoration: none;
  box-shadow: hsl(0, 0%, 100%) -2.5px 2.5px 0 0, hsl(227, 51%, 22%) -2.5px 2.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-1:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
.Layout nav .navbar .cta .signUp-1:not([disabled]):active {
  box-shadow: hsl(0, 0%, 100%) 0px 0px 0 0, hsl(227, 51%, 22%) 0px 0px 0 1px;
}
.Layout nav .navbar .cta .signUp-2 {
  box-shadow: hsl(165, 94%, 45%) -4.5px 4.5px 0 0, hsl(227, 51%, 22%) -4.5px 4.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-2:hover {
  text-decoration: none;
  box-shadow: hsl(165, 94%, 45%) -2.5px 2.5px 0 0, hsl(227, 51%, 22%) -2.5px 2.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-2:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
.Layout nav .navbar .cta .signUp-2:not([disabled]):active {
  box-shadow: hsl(165, 94%, 45%) 0px 0px 0 0, hsl(227, 51%, 22%) 0px 0px 0 1px;
}
.Layout nav .navbar .cta .signUp-3 {
  box-shadow: hsl(265, 98%, 79%) -4.5px 4.5px 0 0, hsl(227, 51%, 22%) -4.5px 4.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-3:hover {
  text-decoration: none;
  box-shadow: hsl(265, 98%, 79%) -2.5px 2.5px 0 0, hsl(227, 51%, 22%) -2.5px 2.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-3:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
.Layout nav .navbar .cta .signUp-3:not([disabled]):active {
  box-shadow: hsl(265, 98%, 79%) 0px 0px 0 0, hsl(227, 51%, 22%) 0px 0px 0 1px;
}
.Layout nav .navbar .cta .signUp-4 {
  box-shadow: hsl(210, 100%, 73%) -4.5px 4.5px 0 0, hsl(227, 51%, 22%) -4.5px 4.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-4:hover {
  text-decoration: none;
  box-shadow: hsl(210, 100%, 73%) -2.5px 2.5px 0 0, hsl(227, 51%, 22%) -2.5px 2.5px 0 1px;
}
.Layout nav .navbar .cta .signUp-4:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
.Layout nav .navbar .cta .signUp-4:not([disabled]):active {
  box-shadow: hsl(210, 100%, 73%) 0px 0px 0 0, hsl(227, 51%, 22%) 0px 0px 0 1px;
}
.Layout nav .navbar .cta .login {
  background-color: transparent;
  color: hsl(227, 51%, 22%);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s all ease;
}
@media (min-width: 740px) {
  .Layout nav .navbar .cta {
    display: block;
    visibility: visible;
  }
}
.Layout nav .navbar ul {
  list-style-type: none;
  display: flex;
  column-gap: 1.6rem;
}
.Layout nav .navbar ul a {
  color: inherit;
  text-decoration: none;
}
.Layout nav .navbar ul a li {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(227, 51%, 22%);
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.Layout nav .navbar ul a li .line {
  position: absolute;
  width: 0%;
  bottom: -5px;
  left: 0;
  height: 1.5px;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.Layout nav .navbar ul a li .lineActive {
  width: 100%;
  background-color: hsl(227, 36%, 29%);
}
.Layout nav .navbar ul a li:hover .line {
  width: 100%;
  background-color: hsla(227, 51%, 22%, 0.6);
}
@media (min-width: 741px) {
  .Layout nav .navbar ul .cta {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 740px) {
  .Layout nav .navbar ul {
    border-top: 1px solid hsl(227, 51%, 22%);
    position: absolute;
    top: 4rem;
    right: 0;
    padding: 10px;
    width: 90%;
    margin: 0;
    transition: 0.3s all ease;
    transform: translateX(100%);
    background-color: inherit;
    height: calc(100vh - 4rem);
    flex-direction: column;
  }
  .Layout nav .navbar ul li {
    height: 2.2rem;
    margin-bottom: 2.5rem;
  }
  .Layout nav .navbar ul li .line:hover {
    max-width: 400px;
  }
  .Layout nav .navbar ul li .lineActive {
    width: 95%;
    max-width: 350px;
  }
  .Layout nav .navbar ul .cta {
    visibility: visible;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .Layout nav .navbar ul .cta .login {
    margin-bottom: 1rem;
    border: 1px solid hsl(227, 51%, 22%);
    border-radius: 4px;
    padding: 9px 27px;
    touch-action: manipulation;
  }
  .Layout nav .navbar ul .cta .login:hover:active {
    background-color: hsl(227, 51%, 22%);
    color: hsl(0, 0%, 100%);
  }
  .Layout nav .navbar ul .cta button {
    width: 100%;
    margin: 0 1%;
    max-width: 360px;
    height: 3.2rem;
  }
}
@media (max-width: 740px) {
  .Layout nav .navbar .close {
    transform: translateX(0%);
  }
}
.Layout nav .navbar .hamburger {
  height: 90%;
  display: flex;
  align-items: center;
}
.Layout nav .navbar .hamburger .icon {
  font-size: 2rem;
  color: hsl(227, 51%, 22%);
}
@media screen and (min-width: 741px) {
  .Layout nav .navbar .hamburger {
    display: none;
  }
}
.Layout footer {
  width: 100%;
  background-color: hsl(227, 51%, 22%);
  padding: 0 10px;
}
.Layout footer .top {
  display: flex;
  max-width: 1350px;
  margin: auto;
}
.Layout footer .top .side1 {
  width: 100%;
  min-width: 500px;
}
.Layout footer .top .side1 .logo {
  margin: 1rem 0 0.5rem 0;
  min-width: 35px;
  height: auto;
}
.Layout footer .top .side1 p {
  color: hsl(0, 0%, 100%);
}
.Layout footer .top .side1 .form {
  width: 100%;
  height: 3.2rem;
  min-width: 290px;
  max-width: 380px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  color: hsla(0, 0%, 100%, 0.8);
  background-color: hsl(227, 51%, 22%);
  cursor: pointer;
  border: 2px solid hsl(0, 0%, 100%);
  padding: 0.25em 0.5em;
  box-shadow: hsl(0, 0%, 100%) 3px 4px 0px 0px, hsl(0, 0%, 100%) 2px 2px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .Layout footer .top .side1 .form {
    padding: 0.25em 0.75em;
  }
}
.Layout footer .top .side1 .form .input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: hsl(227, 51%, 22%);
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 1.05rem;
}
.Layout footer .top .side1 .form .input::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}
.Layout footer .top .side1 .form button {
  margin-left: 10px;
  flex-shrink: 0;
  color: hsl(227, 51%, 22%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 4.5px;
  border: none;
  font-size: 1rem;
  padding: 8px;
  cursor: pointer;
}
@media screen and (max-width: 906px) {
  .Layout footer .top .side1 .form {
    max-width: 320px;
    height: 3.05rem;
  }
}
@media screen and (max-width: 580px) {
  .Layout footer .top .side1 .form {
    max-width: 305px;
    box-shadow: hsl(0, 0%, 100%) 2px 3px 0px 0px, hsl(0, 0%, 100%) 1px 1px 0px 0px;
  }
}
@media screen and (max-width: 350px) {
  .Layout footer .top .side1 .form {
    max-width: 280px;
    height: 3rem;
  }
}
@media screen and (max-width: 906px) {
  .Layout footer .top .side1 {
    width: fit-content;
    min-width: 342px;
  }
}
@media screen and (max-width: 520px) {
  .Layout footer .top .side1 {
    min-width: 300px;
  }
}
.Layout footer .top .side2 {
  width: 100%;
  max-width: 1300px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}
.Layout footer .top .side2 .nav {
  max-width: 400px;
  min-width: 200px;
  flex-shrink: 0;
}
.Layout footer .top .side2 .nav h2 {
  color: hsl(0, 0%, 100%);
}
@media screen and (max-width: 500px) {
  .Layout footer .top .side2 .nav h2 {
    font-size: 1.1rem;
  }
}
.Layout footer .top .side2 .nav ul {
  list-style-type: none;
  padding: 0;
}
.Layout footer .top .side2 .nav ul li {
  margin-bottom: 8px;
}
.Layout footer .top .side2 .nav ul li a {
  color: hsla(0, 0%, 100%, 0.8);
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  .Layout footer .top .side2 .nav ul li {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1356px) and (min-width: 959px) {
  .Layout footer .top .side2 {
    justify-content: space-around;
  }
}
@media screen and (max-width: 792px) {
  .Layout footer .top {
    flex-wrap: wrap;
  }
  .Layout footer .top .side1 {
    margin-bottom: 1rem;
  }
}
.Layout footer .bottom {
  width: 100%;
  margin: auto;
  background-color: transparent;
  display: flex;
  max-width: 1350px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Layout footer .bottom .socials {
  display: flex;
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  column-gap: 0.8rem;
  align-items: center;
}
.Layout footer .bottom .socials .icon {
  transition: 0.2s all ease;
  cursor: pointer;
}
.Layout footer .bottom .socials .icon:hover {
  color: hsla(0, 0%, 100%, 0.8);
}
@media screen and (max-width: 850px) {
  .Layout footer .bottom .socials {
    font-size: 1.5rem;
  }
}
.Layout footer .bottom .misc {
  max-width: 600px;
  display: flex;
  column-gap: 0.3rem;
  color: hsla(0, 0%, 100%, 0.6);
  align-items: center;
}
.Layout footer .bottom .misc .Dot {
  background-color: hsla(0, 0%, 100%, 0.6);
}
@media screen and (max-width: 850px) {
  .Layout footer .bottom .misc {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 500px) {
  .Layout footer .bottom .misc {
    width: 100%;
    flex-shrink: 0;
    font-size: 0.7rem;
    margin-top: 6px;
  }
}
.Layout .overlay {
  background-color: rgba(0, 0, 0, 0.5803921569);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  display: block;
}
@media screen and (min-width: 741px) {
  .Layout .overlay {
    display: none;
    background-color: transparent;
  }
}
.Layout .overlayHidden {
  display: none;
  background-color: transparent;
}
.Layout .pages {
  margin-top: 4rem;
}
.Layout .pages .homePage header {
  width: 100%;
  height: 50rem;
  max-height: 80vh;
  background-color: hsl(165, 94%, 45%);
  overflow: hidden;
}
.Layout .pages .homePage header .header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
  margin: auto;
  justify-content: space-around;
  max-width: 1600px;
}
.Layout .pages .homePage header .header .headerImage {
  height: 95%;
  width: auto;
  align-self: center;
  flex-shrink: 0;
}
@media screen and (max-width: 1200px) {
  .Layout .pages .homePage header .header .headerImage {
    height: 89%;
  }
}
@media screen and (max-width: 1040px) {
  .Layout .pages .homePage header .header .headerImage {
    height: 78%;
  }
}
@media screen and (max-width: 740px) {
  .Layout .pages .homePage header .header .headerImage {
    height: auto;
    width: 80%;
    margin: 0.2rem auto 2rem auto;
  }
}
.Layout .pages .homePage header .header .info {
  margin-top: 2rem;
  margin-left: 1rem;
  color: hsl(227, 51%, 22%);
  max-width: 800px;
}
.Layout .pages .homePage header .header .info .tagline {
  font-size: clamp(2.5rem, 1.8438rem + 3.5vw, 6rem);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 870px) and (min-width: 740px) {
  .Layout .pages .homePage header .header .info .tagline {
    font-size: clamp(2rem, 1.625rem + 2vw, 4rem);
  }
}
.Layout .pages .homePage header .header .info .subTagline {
  margin-top: 0.5rem;
  font-size: clamp(1.1rem, 1.0143rem + 0.4571vw, 1.5rem);
  line-height: 1.9rem;
  letter-spacing: 1px;
  word-wrap: break-word;
  max-width: 800px;
}
.Layout .pages .homePage header .header .info .subTagline span {
  font-size: 1.3rem;
  font-weight: 100;
}
@media screen and (max-width: 870px) {
  .Layout .pages .homePage header .header .info .subTagline {
    font-size: clamp(1rem, 0.9437rem + 0.3vw, 1.3rem);
  }
  .Layout .pages .homePage header .header .info .subTagline span {
    font-size: clamp(1rem, 0.9437rem + 0.3vw, 1.3rem);
  }
}
.Layout .pages .homePage header .header .info .form {
  width: 100%;
  height: 3.4rem;
  max-width: 600px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid hsl(227, 51%, 22%);
  padding: 0.25em 0.5em;
  box-shadow: hsl(227, 51%, 22%) 3px 4px 0px 0px, hsl(227, 51%, 22%) 2px 2px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
}
.Layout .pages .homePage header .header .info .form .input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: hsl(227, 36%, 29%);
  font-size: 1.2rem;
}
.Layout .pages .homePage header .header .info .form .input::placeholder {
  color: hsla(227, 52%, 22%, 0.35);
}
@media (max-width: 747px) {
  .Layout .pages .homePage header .header .info .form .input {
    font-size: 0.9rem;
  }
}
.Layout .pages .homePage header .header .info .form button {
  margin-left: 10px;
  flex-shrink: 0;
  background-color: hsl(227, 51%, 22%);
  color: hsl(0, 0%, 100%);
  border-radius: 4.5px;
  border: none;
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  padding: 0 10px;
  column-gap: 10px;
}
@media (max-width: 747px) {
  .Layout .pages .homePage header .header .info .form button {
    font-size: 0.8rem;
    column-gap: 6px;
  }
}
@media (max-width: 847px) {
  .Layout .pages .homePage header .header .info .form {
    height: 3.2rem;
    max-width: 391px;
  }
}
@media (min-width: 768px) {
  .Layout .pages .homePage header .header .info .form {
    padding: 0.25em 0.75em;
  }
}
@media (max-width: 740px) {
  .Layout .pages .homePage header .header .info .form {
    max-width: none;
  }
}
.Layout .pages .homePage header .header .info .bottom {
  margin-top: 1rem;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
.Layout .pages .homePage header .header .info .bottom .bInfo {
  display: flex;
  column-gap: 5px;
}
@media (max-width: 740px) {
  .Layout .pages .homePage header .header .info .bottom {
    margin-bottom: 0.6rem;
    text-align: center;
  }
}
@media screen and (max-width: 1500px) {
  .Layout .pages .homePage header .header {
    padding: 2rem 1rem 0 1rem;
  }
}
@media screen and (max-width: 740px) {
  .Layout .pages .homePage header .header {
    flex-wrap: wrap-reverse;
    row-gap: 0.6rem;
  }
}
@media screen and (max-width: 740px) {
  .Layout .pages .homePage header {
    max-height: none;
    height: auto;
  }
}
.Layout .pages .homePage .body1 {
  background-color: hsl(0, 0%, 100%);
  padding: 4% 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.Layout .pages .homePage .body1 .mainInfo {
  width: 100%;
  max-width: 600px;
  color: hsl(227, 36%, 29%);
}
.Layout .pages .homePage .body1 .mainInfo h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 500px) {
  .Layout .pages .homePage .body1 .mainInfo h2 {
    font-size: 2rem;
  }
}
.Layout .pages .homePage .body1 .mainInfo h4 {
  padding: 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (max-width: 500px) {
  .Layout .pages .homePage .body1 .mainInfo h4 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}
.Layout .pages .homePage .body1 .mainInfo ul {
  padding: 0%;
  list-style-type: none;
}
.Layout .pages .homePage .body1 .mainInfo ul li {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.Layout .pages .homePage .body1 .mainInfo ul li p {
  font-size: 1.3rem;
}
@media screen and (max-width: 500px) {
  .Layout .pages .homePage .body1 .mainInfo ul li p {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 1200px) {
  .Layout .pages .homePage .body1 .mainInfo {
    max-width: 500px;
  }
}
@media screen and (max-width: 950px) {
  .Layout .pages .homePage .body1 .mainInfo {
    max-width: 400px;
  }
}
@media screen and (max-width: 900px) {
  .Layout .pages .homePage .body1 .mainInfo {
    max-width: 350px;
  }
}
@media screen and (max-width: 780px) {
  .Layout .pages .homePage .body1 .mainInfo {
    max-width: none;
    padding: 0 10px;
    width: 100%;
  }
}
.Layout .pages .homePage .body1 .imageCont {
  flex-shrink: 0;
  background-color: hsl(265, 98%, 79%);
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  max-height: 40rem;
  max-width: 600px;
  min-width: 450px;
  overflow: hidden;
  border: 3px solid hsl(227, 51%, 22%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Layout .pages .homePage .body1 .imageCont .image {
  margin: 5%;
  width: 95%;
  height: auto;
  object-fit: cover;
}
@media screen and (max-width: 1500px) {
  .Layout .pages .homePage .body1 .imageCont {
    max-width: 490px;
  }
}
@media screen and (max-width: 1200px) {
  .Layout .pages .homePage .body1 .imageCont {
    min-width: 350px;
    max-width: 350px;
  }
}
@media screen and (max-width: 900px) {
  .Layout .pages .homePage .body1 .imageCont {
    min-width: 350px;
  }
}
@media screen and (max-width: 760px) {
  .Layout .pages .homePage .body1 .imageCont {
    min-width: auto;
    max-width: 450px;
  }
}
@media screen and (max-width: 560px) {
  .Layout .pages .homePage .body1 .imageCont {
    max-width: 350px;
  }
}