@use "../abstracts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
  overscroll-behavior: none;
  overflow: scroll;
}
body {
  background-color: clr(light, 1);
  margin: 0;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
}
